nav {
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  text-align:center;
  color:black;
  background-color:green;
  max-width: 70rem;
  margin: 0 auto;
}

footer {
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align:center;
  background-color:gray;
}

#logo {
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  text-align:center;
  color:black;
  background-color:#b0c4de;
  max-width: 70rem;
  margin: 0 auto;
}

#page-text {
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  text-align:center;
  color:black;
  background-color:orange;
  max-width: 70rem;
  margin: 0 auto;
}

#main {
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  text-align:left;
  color:black;
  background-color:orange;
  max-width: 70rem;
  margin: 0 auto;
}

#feature {
  display: block;
  width: 65%;
  margin: 0 auto;
  text-align:center;
}

#home-text {
  display: block;
  float: left;
  width: 65%;
  background-color:yellow;
}

#offers {
  float: right;
  width: 27%;
  text-align:right;
  background-color:red;
}